.homeBody{
}

.table{
    border: 1px solid black;
}
.button{
    height: 40px;
    width: 100px;
    border-radius: 15px;
    background-color: #a2c4c9;
    cursor:pointer;
}
.button:hover{
    background-color: #227376;
}
th,td,.table{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 7px;
}
th{
    background: #41999c;
}
.update-btn{
    cursor:pointer;
    background-color: rgb(57, 57, 235);
}
.delete-btn{
    cursor:pointer;
    background-color: red;
}