.homeBody{
}
.table-div{
    height: calc(100vh - 200px);
    overflow: auto;
    margin: 15px;
}
.table{
    width: calc(100% - 40px);
    margin: auto;
    /* overflow: hidden; */
    
}
.add-button{
    margin: 10px;
    display: flex;
    justify-content: end;
}
.button{
    height: 40px;
    width: 100px;
    border-radius: 15px;
    background-color: #a2c4c9;
    cursor:pointer;
}
.button:hover{
    background-color: #227376;
}
th, td,.table{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}
th{
    
    border: 1px solid black;
    background: #41999c;
    position: sticky;
    top: 0;
}
.update-btn{
    height: 40px;
    width: 75px;
    border-radius: 15px;
    margin: 10px;
    cursor:pointer; 
    background-color: #41999c;
    color:white
}
.update-btn:hover{
    background-color: #227376;
}
.delete-btn{
    height: 40px;
    width: 100px;
    border-radius: 15px;
    cursor:pointer;
    background-color: red;
    color:white
}
.delete-btn:hover{
    background-color: rgb(195, 29, 29);
}