.close-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    background: #f3f6f4;
    border: #ded7d7;

}
.modal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.4rem;
    border: 1px solid black;
    border-radius: 3px;
    width: 600px;
    left: calc(50% - 300px);
    height: 500px;
    top:calc(50% - 250px);
    /* z-index: 2; */
    position: absolute;
    background: #75867a;   
}
.modal-bg{
    background-color: rgba(0,0,0,0.8);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
}
.details{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sub-details{
    margin:25px;
    font-weight: bold;
    font-size: larger;
}