.modal{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    border: 1px solid black;
    border-radius: 5px;
    width: 600px;
    left: calc(50% - 300px);
    height: 500px;
    top:calc(50% - 250px);
    position: absolute;
    background:white;
    /* z-index: 2;   */
}
.sub-modal1{
    background-color: #41999c;
    height: 40px;
    top: 0;
}
.sub-modal2{
    padding: 0px 40px;
}

.close-btn{
    cursor:pointer;
    position: absolute;
    top: 5px;
    right: 5px;
    background: red;
    height:30px;
    width:30px;
    border: 1px solid black;
    border-radius: 2px;
}
.submit-btn{
    cursor:pointer;
    background: #41999c;
    border: 1px solid black;
    width: auto;
    align-self: center;
    border-radius: 3px;
    padding:10px;
    font-weight: bold;
    font-size: medium;
}
.modal-bg{
    background-color: rgba(0,0,0,0.8);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
}
.input{
    position: relative;
    left: 10px;
    right: 0px;
    font-size: large;
    border: transparent;
    border-bottom: 1px solid black;
    width: 100%;
}
.input:hover{
    border-bottom: 1px solid #41999c;
}
.input:focus{
    border: none;
    border-bottom: 1px solid #41999c;
}
.details{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}
.sub-details{
    margin:20px;
    font-weight: bold;
    font-size: larger;
}
.radio{
 font-weight: 100;   
}