.navbar{
    /* position: fixed;
    width: 100%;
    top:0;
    overflow: hidden; */
    background-color: #41999c;
    display: flex;
    justify-content: space-between;
}
.image{
    height: 75px;
    width: 75px;
    margin: 5px;
}
.sub-navbar{
    display: flex;
    align-items: center;
}
.sub-navbar1{
    padding: 10px;
}
.sub-navbar1:hover{
    background-color: #227376; 
}
.hidden {
    display: none;
  }