.navbar{
    background-color: #41999c;
    display: flex;
    justify-content: space-between;
}
.image{
    height: 75px;
    width: 75px;
    margin: 5px;
}
.sub-navbar{
    display: flex;
    align-items: center;
}
.sub-navbar1{
    padding: 10px;
}
.button{
    height: 50px;
    width: 100px;
    border-radius: 50px;
    background-color: #a2c4c9;
    margin:15px
}
.hidden {
    display: none;
  }